#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: min-content;
  padding: 40px;
  border: 2px solid white;
  border-radius: 20%;
}
input {
  margin-bottom: 25px;
}
